version: '3.8'

services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/code
      - ./uploads:/code/uploads
    environment:
      - DATABASE_URL=sqlite:///./sql_app.db
    restart: always