services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
      - ./sql_app.db:/app/sql_app.db
      - ./uploads:/app/uploads
    restart: always